*{
    padding: 0;
    margin:0;
}

.bg-white{
    color: white;
}
nav{
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;    
    height:100%
}
nav li{
    padding: 0 10px;
    color:grey;
}

@media (min-width: 992px) {
    .navbar-expand-lg .nav-item:not(:last-child) {
        margin-right: .5rem;
    }
}